.hide {
    display: none;
  }
  
.container{
    background-color: white;
    border-radius: 12px;
    padding: 16px 8px;
    overflow: hidden;
    display: inline-block;
}

.btns{
    display: flex;
    flex-direction: row-reverse;
}

.btn{
    margin: 10px;
    padding: 6px 9px;
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-radius: 4px;
}

.btn_primary{
    margin: 10px;
    padding: 9px 15px;
    color: white;
    background-color: #47AAD4;
    border-width: 1px;
    border-radius: 4px;
    border-color: #47AAD4;
}