.container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 36px;
    border-radius: 12px;
}

.sidebar_container{
    flex-grow: 1;
    max-width: 160px;
}

.DateNtime_container{
    flex-grow: 1;
}